@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --breakpoint-md992: 992px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

body{
  overflow-x: hidden;
}